<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BasicsCRUD</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom_form_styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/table_styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BasicsCRUD.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="main-navbar">
        <a asp-controller="Clients" asp-action="Add"><div class="logo">Client<span class="logo-book">Book</span></div></a>

        <div class="right">
            <a class="btn" style="color:#fff;" asp-controller="Clients" asp-action="Index">
                Client List <ion-icon name="arrow-forward-outline"></ion-icon>
            </a>
        </div>
    </div>
    <div class="container" style="margin:auto;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
